<div class="card">
    <div class="top">
        <div class="image">
            <img src="{{this.imagePath}}" alt="Café">
        </div>
    </div>
    <div class="bottom">
        <div class="content">
            <h1>{{this.title}}</h1>
            <p>{{this.description}}</p>
            <h3><span>R$</span>{{this.price}}<span> un.</span></h3>
            <a href="/product/{{this.id}}">Ver mais</a>
        </div>
    </div>
</div>